@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My First Ever .NET Project Example</h1>
    <img src="~/images/products.jpg" alt="Main Shopping Image" style="height: auto; max-width: 800px"/>
</div>
